body {
  margin: 0;
  padding: 0;
  background-color: rgb(37, 27, 27);
}

.App {
  text-align: center;
}

.header {
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  color: black;
  background: whitesmoke;
}

/* css for 'NEXT' button */

.example_c {
  cursor: pointer;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  font-weight: 900;
  width: 400px;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.example_c:hover {
  color: black !important;
  background: #f39c12;
  font-weight: 700;
  border-color: #f39c13 !important;
  transition: all 0.4s ease 0s;
}

/*------------------------------*/
